<!DOCTYPE html>
<html  ng-app="demoPosts">
    <head >
    <title>Contact List Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head>
    <body ng-controller="mainController">
        <div class="container">
          <div style="overflow:hidden"> 
              <span style="float:left">
             <label class="form-control">Search Employee Details</label>
             <input type="text" ng-model="empid" />
             <ul style="position:absolute; list-style:none" ng-if="empid">
                 <li ng-repeat="id in ids | filter: empid" data-ng-click="selectId(id)">{{id}}</li>
             </ul>
             
             <button class="btn-info" data-ng-click="getFullDetails(empid)">Get Employee Details</button>
              </span>
              <span style="float:left; margin-left:20px;">
              <p>Employee Details</p>
              <table>
                  <tr data-ng-repeat="employee in employees">
                      <td>{{employee.empId}}</td>
                      <td>{{employee.empName}}</td>
                      <td>{{employee.empEmail}}</td>
                  </tr>
                  
              </table>
              </span>
          </div>
        </div>
        <script src="../lib/angular.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>
